.container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.mat-card {
  max-width: 400px;
}

.mat-card-title {
  text-align: center;
  font-size: 40px;
}

.mat-card-content {
  margin-top: 5%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #0074D9;
}

.mat-form-field-infix {
  margin-left: 1%;
}

.registryButton {
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #0074D9;
  width: 100%;
}
