<mat-card>
  <mat-card-title>Registry a new Weeby Account</mat-card-title>
  <mat-card-content>
    <form [formGroup]="registryForm" autocomplete="off">
      <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput type="text" formControlName="userName">
        <mat-icon matPrefix>how_to_reg</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" placeholder="please type an email">
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="text" formControlName="password" placeholder="please type a password"
               matTooltip="Info about the action">
        <mat-icon matPrefix>lock</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password confirmation</mat-label>
        <input matInput type="text" formControlName="passwordConfirmation" placeholder="please type a password">
        <mat-icon matPrefix>lock_open</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-button-toggle class="registryButton" (click)="registry()">Register</mat-button-toggle>
</mat-card>
