.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mat-card {
  border: black solid 1px;
}

.card-header {
  align-items: center;
}

.card-avatar {
  height: 100px;
  width: 100px;
  background: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 3%;
}

.mat-card-content {
  display: flex;
  text-align: center;
  height: inherit;
}

.material-icons.md-40 {
  font-size: 50px;
}

.mat-button-toggle {
  size: 200px;
  background-color: white;
  color: black;
}

.mat-button-toggle:hover {
  background-color: #4b3939;
  color: white;
}
