<mat-card>
  <mat-card-title>Weeby</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input type="text" matInput placeholder="E-mail or Nick">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <mat-button-toggle-group>
      <mat-button-toggle class="loginButton" (click)="login()">Login</mat-button-toggle>
      <mat-button-toggle class="registryButton">Do not have account yet? Register now !</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-actions>
</mat-card>

