.mat-card {
  border: black solid 1px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.card-header {
  align-items: center;
}

.card-avatar {
  height: 100px;
  width: 100px;
  background-size: cover;
  margin-top: 2%;
  margin-bottom: 3%;
}

.mat-card-content {
  display: flex;
  text-align: center;
  height: inherit;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

.material-icons.md-40 {
  font-size: 50px;
}

.mat-button-toggle {
  size: 200px;
  background-color: white;
  color: black;
}

.mat-button-toggle:hover {
  background-color: #4b3939;
  color: white;
}
